doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language="javascript", type="text/javascript", src="js/lib/jquery-2.1.3.min.js")
    script(type='text/javascript' src="js/main.js")
    script(language="javascript" type="text/javascript").
        var thisPage = "#{title}",
            nextPage = "#{next_page}",
            sketchSelfTotSettings = {
                'isSelfTot': true,
                'personality': $('#inputHue').val(),
                'sensitivity': $('#inputSensitivity').val()
            },
            sliderSettings = {
              'totSlider': Number('#{session.sliderSettings.totSlider}'),
              'diversitySlider': Number('#{session.sliderSettings.diversitySlider}'),
              'sensitivitySlider': Number('#{session.sliderSettings.sensitivitySlider}'),
              'bounceSlider': Number('#{session.sliderSettings.bounceSlider}'),
              'pairSlider': Number('#{session.sliderSettings.pairSlider}'),
              'backgroundSlider': Number('#{session.sliderSettings.backgroundSlider}'),
              'gazeSlider': Number('#{session.sliderSettings.gazeSlider}'),
              'tensionSlider': Number('#{session.sliderSettings.tensionSlider}'),
              'bodySlider': Number('#{session.sliderSettings.bodySlider}')
            },
            globals = {
                'gazeValue': 1,
                'tensionValue': 1,
                'bodyValue': 1,
                'activeTotMode': 1
            };
    script( language="javascript" type="text/javascript" src="js/lib/p5.js")
    script( language="javascript" type="text/javascript" src="js/lib/p5.dom.js")
    script( language="javascript" type="text/javascript" src="js/equations.js")
    script( language="javascript" type="text/javascript" src="js/Tot.js")
    script( language="javascript" type="text/javascript" src="js/TotSystem.js")
    script(type='text/javascript' src="js/sketch-index.js")
  body
    block content
